<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projecttesting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="SUNY POLY"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.Poly.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Suny Poly"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Poly.ClubActivity"
            android:label="Utica&apos;s Clubs"
            android:parentActivityName="com.example.Poly.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projecttesting.MainActivity" />
        </activity>
        <activity
            android:name="com.example.Poly.SunyitFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Utica"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.Poly.HomeFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.Poly.CNSEFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Albany"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.Poly.WebViewActivity"
            android:label="SUNY POLY"
            android:parentActivityName="com.example.Poly.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projecttesting.MainActivity" />
        </activity>
        <activity
            android:name="com.example.Poly.ContactActivity"
            android:label="Utica Contacts"
            android:parentActivityName="com.example.Poly.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projecttesting.MainActivity" />
        </activity>
        <activity
            android:name="com.example.Poly.ProfActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Rate My Professor"
            android:parentActivityName="com.example.Poly.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projecttesting.MainActivity" />
        </activity>
        <activity
            android:name="com.example.Poly.WeatherActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName="com.example.Poly.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Poly.MainActivity" />
        </activity>
        <activity
            android:name="com.example.Poly.AContactActivity"
            android:label="Albany&apos;s Contacts"
            android:parentActivityName="com.example.Poly.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projecttesting.MainActivity" />
        </activity>
        <activity
            android:name="com.example.Poly.MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName="com.example.Poly.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Poly.MainActivity" />
        </activity>
    </application>

</manifest>
